// app global css in SCSS form

body {
    border: 0px;
    background-image: linear-gradient(#45115b, $primary);
}

.background-img {
    background-image: url('/public/img/brain.jpg');
    background-position: center;
    background-size: cover;
}

//Vars for Background

//Vars for Typography
.titles {
    font-weight: 200;
}

@media screen and (max-width: 760px) {
}
